@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Regular.ttf');
}
//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
	background: #f5f5f7;
	font-size: 14px;
    color: #656565;
}
html, body {
  height: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
.inner {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	font-size: 24px;
	color: #23a8e6;
}
h2 {
	font-size: 18px;
	color: #656565;
}
.text-block {
	p {
		font-size: 14px;
		color: #656565;
		padding: 1px;
	}
}
body {
	font-family: 'NotoSans';
}
header {
	background: #f5f5f7;
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: 2px solid #1895cf;

	#logo, #bannertop {
		float: left;
	}
	#logo {
		display: block;
		width: 267px;
		height: 61px;
		background: url('../img/logo.png') no-repeat;
		margin-top: 55px;
		margin-left: 15px;
	}
	#bannertop {
		margin-top: 20px;
		margin-left: 30px;

		img {
			width: 723px;
			height: 126px;
			border-radius: 5px;
		}
	}
	#contactstop {
		float: right;
		text-align: right;
		margin-right: 15px;

		.auth {

			* {
				font-size: 12px;
				color: #4e4e4e;
			}
			a:hover {
				color: darken(#4e4e4e, 30%);
			}
		}
		.phones {
			margin-top: 15px;
			margin-bottom: 25px;
			width: 160px;

			.phone {
				color: #1895cf;
				font-size: 18px;

				span {
					color: #000;
					font-size: 14px;
					margin-right: 5px;
				}
			}
			.addr {
				text-align: left;
				font-size: 12px;
				color: #777777;
			}
		}
	}
	#links {
		float: right;
		margin-right: 15px;
		text-align: center;

		.callback {
			color: #fff;
			font-size: 12px;
			padding: 5px 5px 5px 35px;
			margin-bottom: 10px;
			background: url('../img/bgcall.png') no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
		.callback:hover {
			color: darken(#93cb43, 20%);
		}
		p {
			padding-top: 10px;
		}
		.contactus {
			color: #93cb43;
			font-size: 12px;
			border-bottom: 1px solid lighten(#93cb43, 20%);
		}
		.contactus:hover {
			border-bottom: transparent;
		}
	}
}
#content {
	padding-bottom: 80px;

	.inner {
		padding-left: 15px;
		padding-right: 15px;
	}
    #breadcrumbs {
      margin-top: 10px;
      margin-bottom: 15px;

      ul {

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 0px;

          a {
            font-size: 12px;
            color: #9a9a9a;
          }
          a:hover {
            color: #23a8e6;
          }
        }
        li:after {
          content: '»';
          margin-left: 5px;
          color: #9a9a9a;
          font-size: 12px;
        }
        li:last-child:after {
          content: none;
        }
      }
    }
	#leftcol {
		float: left;
		width: 297px;

		#menuleft {

			.menu-block {
				margin-bottom: 25px;

				h1 {
					margin-bottom: 15px;
				}
				ul {
					li {
						margin-bottom: 5px;

						a {
							color: #656565;
							font-size: 14px;
						}
						a:hover, a.current {
							color: #23a8e6;
						}
					}
				}
			}
		}
		#bannerleft {
			margin-top: 20px;
			width: 220px;

			img {
				width: 210px;
				height: 195px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				margin-bottom: 5px;
			}
			p {
				color: #23a8e6;
			}
		}
	}
	#rightcol {
		float: right;
		padding-right: 10px;
		width: 960px;
		text-align: center;

		#navbar {
			width: 745px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 55px;

			.searchmodel, .searchdetail, .cart {
				display: inline-block;
				margin-right: -4px;
				vertical-align: top;
			}
			.searchmodel {
				font-size: 18px;
				color: #fff;
				padding: 15px 5px;
				background: #23a8e6;
				border-radius: 5px;
				width: 200px;
				text-align: center;
			}
			.searchmodel:hover {
				background: darken(#23a8e6, 5%);
			}
			.searchdetail {
				margin-left: 30px;
				margin-right: 30px;
				text-align: center;

				p {
					font-size: 14px;
					color: #23a8e6;
					margin-bottom: 6px;
				}
				form {
					width: 260px;
					height: 42px;
					border-radius: 6px;
					border: 2px solid #91d0ef;
					background: #f6fbf0;

					* {
						outline: none;
						float: left;
					}
					#detail-number {
						background: transparent;
						border: none;
						height: 40px;
						width: 200px;
						padding-left: 15px;
						font-size: 14px;
						color: #acacac;
					}
					input[type=submit] {
						width: 40px;
						height: 40px;
						border: none;
						background: url('../img/bgsearch.png') no-repeat center center;
					}
					input[type=submit]:hover {
						cursor: pointer;
					}
				}
			}
			.cart {
				width: 200px;
				padding: 10px 5px;
				text-align: center;
				border-radius: 5px;
				background: #93cb43;

				.title {
					font-size: 18px;
					color: #fff;
				}
				.items {
					font-size: 14px;
					margin-top: 6px;
					color: #5b5b5b;
					padding-left: 20px;
					padding-top: 2px;
					height: 21px;
					background: url('../img/cart.png') no-repeat 40px 0px;

					span {
						margin-left: 5px;
					}
				}
			}
			.cart:hover {
				background: darken(#93cb43, 5%)
			}
		}
	}
	#index {
		text-align: center;

		h2 {
			margin-bottom: 35px;
		}
		#modelcatalogindex {
			background: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 5px;
			width: 950px;

			.model-block {
				float: left;
				display: block;
				width: 70px;
				height: 70px;
				margin-left: 15px;
				margin-right: 0px;

				img {
					width: 70px;
					height: 70px;
				}
			}
			.model-block:hover {
				-ms-filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
		.more {
			font-size: 12px;
			color: #1895cf;
			text-decoration: underline;
		}
		.more:hover {
			text-decoration: none;
		}
		.text-block {
			margin-top: 15px;
		}
        #pagination {
          text-align: center;
          margin-top: 50px;

          ul {

            li {
              display: inline-block;
              vertical-align: top;
              margin-right: -4px;

              a {
                font-size: 14px;
                padding: 5px 5px;
                color: #5b5b5b;
              }
              a:hover, a.current {
                background: #23a8e6;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: #fff;
              }
            }
          }
        }
	}
  #product {

    h1 {
      font-size: 18px;
      color: #656565;
      margin-bottom: 30px;
    }
    #product-table {
      float: right;
      text-align: left;

      tr {

        td:first-child {
          width: 130px;
          color: #1895cf;
          padding-left: 0;
          font-size: 14px;
        }
        td {
          width: 290px;
          padding: 10px 20px 10px 20px;
          border-bottom: 1px solid #23a8e6;
          color: #656565;
          font-size: 12px;
        }
      }
      tr:last-child {

        td {
          border-bottom: none;
        }
      }
    }
    #order-bar {
      float: right;
      margin-left: 50px;
      width: 140px;
      margin-right: 105px;
      padding: 15px 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: darken(#f8f8f9, 5%);

      .type {
        padding: 10px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 30px;
      }
      .vip {
        background: #f78770;
      }
      .label {
        font-size: 18px;
      }
      .price-single {
        margin-top: 30px;
        margin-bottom: 20px;

        font-size: 12px;

        .price {
          font-size: 16px;
          color: #1895cf;
          line-height: 20px;
        }
      }
      .price-all {
        margin-bottom: 30px;
        font-size: 12px;

        .price {
          font-size: 16px;
          color: #1895cf;
          line-height: 20px;
        }
      }
      .count-bar {
        .add, .subtract, .count {
          display: inline-block;
          margin-right: -4px;
          vertical-align: top;
          width: 40px;
        }
        .add, .subtract {
          padding: 4px;
          font-size: 16px;
          color: #1895cf;
          width: 20px;
        }
        .add:hover, .subtract:hover {
          cursor: pointer;
        }
        .count {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid #1895cf;
          text-align: center;
          color: #1895cf;
          outline: none;
        }
      }
      input[type=submit], input[type=button] {
        width: 100%;
        padding: 11px 0;
        color: #fff;
        border: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #23a8e6;
        font-size: 14px;
        margin-top: 35px;
      }
    }
  }
  #filter {
    text-align: center;

    h2 {
      font-size: 18px;
      color: #656565;
      margin-bottom: 10px;
    }
    .textblock p {
      font-size: 14px;
      color: #656565;
      margin-bottom: 20px;
    }
    .wrap {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      margin-bottom: 20px;
    }
    .c_brand .dropdown, .c_model .dropdown {
      width: 100px;
    }
    .c_mod .dropdown {
      width: 140px;
    }
    .dropdown.filled, .dropdown.filled div {
      background: #93cb43 !important;
    }
  }
	#article {

		h2 {
			text-align: center;
		}

		img {
			width: 950px;
			height: 345px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
    #contacts {

      h2 {
        margin-bottom: 15px;
      }
      .map {
        float: left;
        margin-right: 10px;

        * {
          width: 380px;
          height: 270px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
      .contacts-text-block {
        text-align: left;
        float: left;
        width: 540px;

        .phones {
          margin-top: 25px;
          margin-bottom: 25px;
          margin-left: 20px;
          width: 160px;

          .phone {
            color: #1895cf;
            font-size: 18px;

            span {
              color: #000;
              font-size: 14px;
              margin-right: 5px;
            }
          }
          .addr {
            text-align: left;
            font-size: 12px;
            color: #777777;
          }
        }
      }
      #contactsfeedback {
        margin-top: 20px;

        h3 {
          font-size: 24px;
          color: #4a4a4a;
          text-align: left;
          margin-bottom: 30px;
        }
        form {
          text-align: left;
          width: 675px;

          label.req {
            font-size: 14px;
          }
          label.req:after {
            content: '*';
            color: #af0000;
            font-size: 14px;
          }
          label[for="name"] {
            margin-right: 20px;
          }
          label[for="email"], label[for="phone"] {
            margin-right: 12px;
          }
          input[type="text"], input[type="email"], textarea {
            padding: 5px;
            color: #656565;
            font-family: 'NotoSans';
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #91d0ef;
            outline: none;
          }
          input[name="name"], input[name="email"] {
            width: 350px;
            height: 15px;
            margin-bottom: 20px;
          }
          input[name="phone"] {
            width: 245px;
            height: 15px;
          }
          textarea {
            font-size: 12px;
            font-style: italic;
            width: 665px;
            height: 125px;
            margin-top: 30px;
            resize: none;
          }
          .req-text {
            margin-top: 5px;
            margin-left: 10px;

            span {
              color: #af0000;
            }
          }
          input[type="submit"] {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: none;
            font-size: 14px;
            color: #fff;
            outline: none;
            margin-top: 30px;
            width: 115px;
            height: 40px;
            padding: 10px 15px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #23a8e6;
          }
          input[type="submit"]:hover {
            background: darken(#23a8e6, 5%);
          }
        }
      }
    }
  #reg {

    h2 {
      margin-bottom: 25px;
    }
    .text-block {
      margin-bottom: 35px;
    }
    form {
      text-align: right;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      margin-bottom: 15px;

      label.req {
        font-size: 14px;
      }
      label.req:after {
        content: '*';
        color: #af0000;
        font-size: 14px;
      }
      label {
        margin-right: 20px;
      }
      input[type="text"], input[type="email"],  input[type="password"], textarea {
        padding: 5px;
        color: #656565;
        font-family: 'NotoSans';
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #91d0ef;
        outline: none;
      }
      input[type="text"], input[type="email"],  input[type="password"] {
        width: 310px;
        height: 15px;
        margin-bottom: 20px;
      }
      .req-text {
        margin-top: -10px;
        margin-right: 20px;
        font-size: 12px;

        span {
          color: #af0000;
        }
      }
      .rules {
        text-align: left;
        margin-top: 15px;
        margin-left: 30px;
        font-size: 12px;

        input {
          position: relative;
          top: 2px;
        }

        a {
          color: #23a8e6;
          text-decoration: underline;
        }
        a:hover {
          text-decoration: none;
        }
      }
      input[type="submit"]
      {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: none;
        font-size: 14px;
        color: #fff;
        outline: none;
        margin-top: 30px;
        width: 115px;
        height: 40px;
        padding: 10px 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #23a8e6;
      }
      input[type="submit"]:hover {
        background: darken(#23a8e6, 5%);
      }
    }
    .changeType {
      font-size: 12px;
      color: #23a8e6;
      text-decoration: underline;
    }
    .changeType:hover {
      text-decoration: none;
    }
  }
  #model {

    img {
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    table {
      width: 595px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      font-size: 12px;
      border: 1px solid #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;

      td:first-child {
        width: 365px;
        border-right: 2px solid #fff;
      }
      td:last-child {
        width: 228px;
      }
      tr:last-child {

        td:first-child {
          border-bottom-left-radius: 7px;
        }
        td:last-child {
          border-bottom-right-radius: 7px;
        }
      }

      thead {

        td {
          padding: 15px 0 15px 20px;
          color: #fff;
          background: #23a8e6;
        }
        td:first-child {
          border-top-left-radius: 7px;
        }
        td:last-child {
          border-top-right-radius: 7px;
        }
      }
      tbody {

        tr:last-child {

          td:first-child {
            border-bottom-left-radius: 7px;
          }
          td:last-child {
            border-bottom-right-radius: 7px;
          }
        }
        td {
          padding: 10px 0 7px 20px;
          background: #f5f5f7;
          border-bottom: 1px solid #fff;

          a {
            color: #23a8e6;
          }
          a:hover {
            color: darken(#23a8e6, 10%);
          }
        }
      }
    }
  }
  #model2, #filter {

    table {
      width: 960px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      font-size: 12px;
      border: 1px solid #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;

      td:first-child {
        width: 90px;
        border-right: 2px solid #fff;
      }

      thead {

        td {
          padding: 15px 0 15px 20px;
          color: #fff;
          background: #23a8e6;
        }
        td:first-child {
          border-top-left-radius: 7px;
        }
        td:last-child {
          border-top-right-radius: 7px;
        }
      }
      tbody {

        tr:last-child {

          td:first-child {
            border-bottom-left-radius: 7px;
          }
          td:last-child {
            border-bottom-right-radius: 7px;
          }
        }
        td {
          padding: 10px 0 7px 20px;
          background: #f5f5f7;
          border-bottom: 1px solid #fff;

          a {
            color: #23a8e6;
          }
          a:hover {
            color: darken(#23a8e6, 10%);
          }
        }
      }
    }
  }
  #model2.basket {

    h2 {
      margin-bottom: 25px;
    }
    table {

      td, td:first-child {
        border-right: 1px solid #fff;
      }
      td:first-child {
        width: auto;
      }
      td:last-child {
        border-right: none;
      }
      thead {
        font-size: 14px;
      }
      tbody {
        text-align: center;

        tr {
          border-bottom: 3px solid #fff;

          td:first-child {
            padding: 15px 10px 15px 30px;
            border-bottom-left-radius: 7px;

            p {
              font-size: 16px;
            }
            span {
              display: block;
              margin-top: 10px;
              text-align: center;
              font-size: 12px;
              width: 75px;
              padding-top: 5px;
              padding-bottom: 5px;
              color: #ffffff;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              border-radius: 7px;
              margin-left: auto;
              margin-right: auto;
            }
            .vip {
              background: #f78770;
            }
            .work {
              background: #93cb43;
            }
            .cheap {
              background: #23a8e6;
            }
          }
          td:last-child {
            border-bottom-right-radius: 7px;
            position: relative;
            padding: 0;

            p {
              text-align: center;
              font-size: 30px;
              color: #23a8e6;
              position: absolute;
              top: 50%;
              margin-top: -15px;
              left: 50%;
              margin-left: -10px;
            }
            p:hover {
              color: darken(#23a8e6, 15%);
              cursor: pointer;
            }
          }
          td {
            padding: 0;

            .price {
              font-size: 16px;
              color: #23a8e6;
              margin-bottom: 10px;
            }

            .add, .sub, .col {
              display: inline-block;
              vertical-align: top;
              margin-right: -4px;
            }
            .add, .sub {
              color: #23a8e6;
              font-size: 18px;
              margin-top: 3px;
            }
            .add:hover, .sub:hover {
              cursor: pointer;
            }
            .col {
              color: #ffffff;
              font-size: 14px;
              background: #23a8e6;
              padding: 5px 15px;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              border-radius: 7px;
              margin-left: 8px;
              margin-right: 5px;
            }
          }
        }
        tr:last-child {
          border-bottom: none;
        }
        dl {
          margin-left: 20px;
          
          dt {
            float: left;
          }
          dd {
            color: #23a8e6;
          }
        }
      }

    }
    input[type="submit"] {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      border: none;
      font-size: 14px;
      color: #fff;
      outline: none;
      margin-top: 30px;
      width: 115px;
      height: 40px;
      padding: 10px 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #23a8e6;
    }
    input[type="submit"]:hover {
      background: darken(#23a8e6, 5%);
    }
  }
}
footer {
	border-top: 2px solid #1895cf;
	padding-top: 50px;
	padding-bottom: 25px;

	#contactsbottom {
		float: left;
		margin-left: 15px;

		.phone {
			color: #1895cf;
			font-size: 18px;

			span {
				color: #000;
				font-size: 14px;
				margin-right: 5px;
			}
		}
		.copyrights {
			margin-top: 10px;

			p {
				font-size: 12px;
				color: #777;
			}
		}
	}
	#menubottom {
		float: left;
		//margin-left: 135px;

		.menu-block {
			display: inline-block;
			vertical-align: top;
			

			h1, a {
				color: #949494;
			}
			h1 {
				margin-bottom: 10px;
				margin-left: 80px;
			}
			ul {
				display: inline-block;
				margin-right: -4px;
				vertical-align: top;
				margin-left: 80px;

				li {

					margin-bottom: 5px;

					a {
						font-size: 12px;
					}
					a:hover, a.current {
						color: #23a8e6;
					}
				}
			}
		}
	}
	.hodlogo {
		display: block;
		float: left;
		margin-left: 50px;
	}
}
span.vip, span.work, span.cheap {
              display: block;
              margin-top: 10px;
              text-align: center;
              font-size: 12px;
              width: 75px;
              padding-top: 5px;
              padding-bottom: 5px;
              color: #ffffff;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              border-radius: 7px;
            }
            .vip {
              background: #f78770;
            }
            .work {
              background: #93cb43;
            }
            .cheap {
              background: #23a8e6;
            }